{% extends "layout.html" %}

{% block title %}Election{% endblock title %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/paillier.js') }}"></script>
{% endblock scripts %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>{{ election.title }}</h1>
    <p>Organizer: {{ organizer.email }}</p>
    <p>Status: {{ "Open" if election.started and not election.ended else "Ended" if election.ended else "Not Started" }}</p>
    {% if organizer == current_user %}
    	<form method="POST", action="">
		  	{% if election.started and not election.ended %}
		  		{{ close_form.hidden_tag() }}
		  		<input type="hidden" name="type" value="close"/>
		  		{{ close_form.submit(class="btn btn-outline-info") }}
		  	{% elif not election.started %}
		  		{{ open_form.hidden_tag() }}
		  		<input type="hidden" name="type" value="open"/>
		  		{{ open_form.submit(class="btn btn-outline-info") }}
        {% endif %}
	  	</form>
  	{% endif %}
    {% if election.ended %}
      {% if winners|length == 1 %}
          Winner: {{ winners[0][0].User.email }}
      {% else %}
        Winners:
        <ul>
          {% for winner in winners[0] %}
            <li>{{ winner.User.email }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#CandidateModal">Show Candidates</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#VoterModal">Show Voters</button>
  {% if election.ended %}
    <button type="button" class="btn btn-success" style="float: right" onclick=VerifyResult()>Verify Result</button>
  {% endif %}
  <br>
  {% if election.ended %}
  <br>
  <p>
    Percent of votes verified: {{ percent_verified }}%
  </p>
  {% endif %}
  {% if election.ended and user_voted and not user_voted.verified %}
    <form method="POST", action="">
      {{ verify_vote_form.hidden_tag() }}
      <input type="hidden" name="type" value="verify"/>
      <input type="hidden" name="election" value='{{ election.id }}'/>
      <input type="hidden" name="user" value='{{ current_user.id }}'/>
      <input type="hidden" name="voter" value='{{ user_voted.id }}'/>
      <input type="hidden" name="authentication_token" value='{{ user_voted.authentication_token }}'/>
      {{ verify_vote_form.vote_exists(class="btn btn-success") }}
      {{ verify_vote_form.vote_not_exists(class="btn btn-danger") }}
    </form>
  {% endif %}
  {% if election.started and not election.ended %}
	  {% for voter in voters %}
	  	{% if voter.User == current_user and not voter.Voter.voted %}
	  		<form method="POST", action={{ voting_link }} class="mt-2">
	  			<input type="hidden" name="voter" value='{{ voter.Voter.id}}'/>
		  		<input type="hidden" name="election" value='{{ election.id }}'/>
		  		<input type="hidden" name="authentication_token" value='{{ voter.Voter.authentication_token }}'/>
		  		<button class="btn btn-primary" type="submit">Cast Vote</button>
		  	</form>
		{% endif %}
	  {% endfor %}
  {% endif %}
  {% if election.ended %}
  	<table class="table mt-2">
  	  <thead>
  	    <tr>
  	      <th scope="col">Fingerprint</th>
          {% for candidate in candidates %}
  	         <th id="email-{{ candidate.Candidate.id }}" scope="col">{{ candidate.User.email }}</th>
          {% endfor %}
  	    </tr>
  	  </thead>
  	  <tbody>
        {% for fingerprint in votes.items() %}
      		<tr>
      			<td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ fingerprint[0] }}</td>
            {% for vote in fingerprint[1].items() %}
      			   <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">{{ vote[1] }}</td>
            {% endfor %}
      		</tr>
        {% endfor %}
        <tr>
          <td>Total votes: {{ num_votes }}</td>
            {% for candidate in candidates %}
              <td>{{ candidate.Candidate.votes }}</td>
            {% endfor %}
        </tr>
  	  </tbody>
  	</table>
  {% else %}
    <p class="mt-2">View votes here after election ends</p>
  {% endif %}
</div>

<script>
  n_str = '{{ election.public_key }}';
  nonces = {{ nonces | safe }};
  tally = {{ tally | safe }};
  candidates = {{ candidate_dict | safe }};
  numBits = 128;
  function VerifyResult()
  {
    alert_str = "";
    valid = true
    n = new BigInteger(n_str);
    pub = new paillier.publicKey(numBits, n);
    for (candidate in candidates)
    {
      candidate_email = document.getElementById("email-"+candidate).textContent;
      votes_cand = candidates[candidate]
      tally_cand = new BigInteger(tally[candidate]);
      nonce_cand = new BigInteger(nonces[candidate])
      encrypted = pub.encryptWithNonce(nbv(votes_cand), nonce_cand);
      if (encrypted.toString() != tally_cand.toString())
      {
        valid = false;
        alert_str+="Tally for "+candidate_email+" NOT verified\n"
      }
      else
      {
        alert_str+="Tally for "+candidate_email+" verified\n"
      }
    }
    if (valid)
    {
      alert_str+="\nResult correctly matches tally";
    }
    else
    {
      alert_str+="\nWARNING: Result does not match tally";
    }
    alert(alert_str);
  }
</script>


<!-- Modal -->
<div class="modal fade" id="CandidateModal" tabindex="-1" role="dialog" aria-labelledby="CandidateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CandidateModalLabel">Candidates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
		  	{% for candidate in candidates %}
	  			<li class="list-group-item">{{ candidate.User.email }}</li>
			{% endfor %}
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="VoterModal" tabindex="-1" role="dialog" aria-labelledby="VoterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="VoterModalLabel">Voters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
        	{% for voter in voters %}
	  			<li class="list-group-item">{{ voter.User.email }}</li>
  			{% endfor %}
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}